.gallery{
    position: relative;
    z-index: 2;
}
.gallery .box .item {
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.gallery .box .item img{
    transform: scale(1);
    transition-duration: 0.5s;
}
.gallery .box .item:hover img{
    transform: scale(1.2);
}
.gallery .box .item .layout{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    font-size: 27px;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition-duration: 0.5s;
}
.gallery .box .item:hover .layout{
    opacity: 1;
}
.gallery .box .item .layout i {
    transition-duration: 0.5s;
}
.gallery .box .item .layout i:hover{
    transform: rotate(180deg);
    color: var(--main--);
}
.pop{
   position: fixed; 
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   z-index: 1;
   transition-duration: 0.5s;
   background-color: rgba(0,0,0,0.4);
   backdrop-filter: blur(10px);
}
.pop.active{
   opacity: 1;
   z-index: 3;
}
.pop .box{
    max-width: 500px;
    max-height: 500px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.pop .box i ,
.pop .box .indecators{
   position: absolute;
   font-size: 15px;

}
.pop .box i ,
.pop .box .indecators li{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: var(--main--);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    cursor: pointer;
}
.pop .box .indecators{
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.pop .box i.close{
    top: 15px;
    right: 20px;
}
.pop .box i.next{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.pop .box i.prev{
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.pop .box .indecators ul{
    display: flex;
    list-style: none;
    padding: 0px;
}
.pop .box .indecators li.active{
    background: rgb(131, 131, 131);
}
@keyframes wrong {
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(10deg);
    }
    20%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(10deg);
    }
    40%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
    }
    60%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.pop .box.apply-wrong{
    animation-name: wrong;
    animation-duration: 0.6s;
}

@keyframes scale {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.pop .box.already-open{
    animation-name: scale;
    animation-duration: 0.5s;
}